* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h3 {
  color: #d4a373;
  font-size: 34px;
  font-weight: 600;
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

figcaption {
  font-size: 1.4rem;
}

.sub-footer {
  font-size: 2rem;
}

.medios-pago {
  line-height: 200px;
}
.medios-pago .img-medios-pago {
  width: 5rem;
  margin: 15px;
  display: flex;
  display: inline;
}

.nosotros {
  color: #ccd5ae;
  font-size: 1.4rem;
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.redes {
  padding: 20px;
  margin: 10px;
  display: flex;
  display: inline;
  align-items: center;
}
.redes .redes-sociales {
  color: #d4a373;
}
.redes .intagram-img {
  width: 1rem;
}
.redes .facebook-img {
  width: 3rem;
}

.section-nosotros h3 {
  margin-top: 35px;
}

@media (min-width: 600px) {
  .intagram-img {
    width: 2rem;
  }
  .facebook-img {
    width: 4rem;
  }
  .img-medios-pago {
    width: 5rem;
    margin-left: 8px;
    display: block;
  }
  .sub-footer {
    font-size: 2rem;
  }
  figcaption {
    font-size: 1.7rem;
  }
  .nosotros {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .sub-footer {
    font-size: 3rem;
  }
  figcaption {
    font-size: 2rem;
  }
  .nosotros {
    font-size: 2rem;
  }
  .intagram-img {
    width: 3rem;
  }
  .facebook-img {
    width: 5rem;
  }
  .img-medios-pago {
    width: 6rem;
    margin-left: 8px;
  }
}
h1 {
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #d4a373;
  font-size: 4rem;
  padding: 0.2em 0em;
}

h2 {
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #ccd5ae;
  font-size: 1.5rem;
}

.nav-link {
  color: #ccd5ae;
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  .nav-link {
    color: #ccd5ae;
    list-style-type: disc;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 2rem;
    margin-left: 1em;
  }
}
.titulo {
  margin-top: 1.6em;
  font-size: xx-large;
}

.video-como-comprar {
  width: 100%;
  margin-top: 1.6em;
}

.pasos {
  margin: 1em;
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

@media (min-width: 600px) {
  .video-como-comprar {
    width: fit-content;
    width: 80%;
    margin: 10%;
  }
  .titulo {
    font-size: 2.5rem;
  }
  .pasos {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .video-como-comprar {
    width: 90%;
  }
  .section-como-comprar {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 1fr;
    max-width: 90%;
    margin-left: 5%;
  }
  .titulo {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    list-style-type: disc;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  .section-pasos {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  ol li {
    font-size: 1.8rem;
  }
  .subtitulo-pasos {
    font-size: 2.6rem;
  }
}
.img-contacto {
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.titulo-consultas {
  margin-top: 6px;
}

.formulario {
  gap: 20px;
  display: block;
  flex-direction: row;
  justify-content: center;
}

.consultas {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.boton-enviar {
  color: aliceblue;
  background-color: #acb68d;
  padding: 1em;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
}

.titulo-consultas {
  background-color: beige;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .img-contacto {
    width: 80%;
    margin: 10%;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .img-contacto {
    width: 60%;
    margin: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}
.img-main {
  width: 100%;
  margin-top: 2em;
}

.titulo-compartidas {
  font-size: 2rem;
  margin-top: 1em;
  color: #fefae0;
  background-color: #ccd5ae;
}

@media (min-width: 600px) {
  .titulo-compartidas {
    font-size: 2.8rem;
  }
  .img-main {
    width: 80%;
    margin: 10%;
  }
}
@media (min-width: 1200px) {
  .img-main {
    width: 80%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  .titulo-compartidas {
    font-size: 3.5rem;
  }
}
.producto {
  font-size: xx-large;
}

.sub-productos {
  background-color: beige;
}

.img-productos {
  width: 100%;
  margin-top: 1.6em;
}

@media (min-width: 600px) {
  .img-productos {
    width: 80%;
    margin: 10%;
    margin-top: 1em;
  }
  .sub-productos {
    font-size: 2.7rem;
  }
  .producto {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .img-productos {
    width: 30vw;
    margin: 1em;
    flex-wrap: nowrap;
    align-content: center;
  }
  .sub-productos {
    font-size: 3rem;
  }
  .producto {
    font-size: 3.2rem;
    margin-top: 1em;
  }
}
.titulo-quienes-somos {
  margin-top: 2em;
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.img-quienes-somos {
  width: 100%;
  margin-top: 1.6em;
}

.caja-parrafo {
  margin: 1em;
  list-style-type: disc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

.trajeta-img {
  width: 50%;
  border-radius: 30px;
  margin-top: 12px;
}

.tarjeta-descripcion {
  border: 5%;
  margin: 5%;
}

.tarjeta-2 {
  grid-row: span 2;
  background-color: beige;
  width: 300px;
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #d4a373;
}

.tarjeta-1 {
  grid-row: span 3;
  background-color: beige;
  width: 300px;
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #d4a373;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .img-quienes-somos {
    width: 80%;
    margin: 10%;
  }
  .caja-parrafo {
    font-size: 1.5rem;
    margin: 5%;
  }
}
@media (min-width: 1200px) {
  .quienes-somos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr;
  }
  .titulo-quienes-somos {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  .img-quienes-somos {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 0%;
  }
  .caja-parrafo {
    font-size: 1.6rem;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
