h3 {
    color: $color-primario;
    font-size: 34px;
    font-weight: 600;
    @include tipografia;
}

.sub-footer {
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
}



//nosotros

.nosotros {
    color: $color-secundario;
    font-size: 1.7rem;
    @include tipografia;
    @include centrado(column);
}

.section-nosotros {
    @include centrado(column);

    h3 {
        margin-top: 35px;
    }
}

//medios de pago

.section-medios-de-pago {
    @include centrado(row);
}

.img-medios-pago {
    width: 3.8rem;
    margin-left: 4px;
}

//redes

.section-redes {
    @include centrado(column);
}


.redes {
    padding: 20px;
    margin: 10px;
}

.redes-sociales {
    color: $color-primario;
    font-size: 1.6rem;
}

.intagram-img {
    width: 1.5rem;
}

.facebook-img {
    width: 4rem;
}


//tablets

@media(min-width:600px) {

    .sub-footer {
        font-size: 2.5rem;
    }

    //nosotros

    .nosotros {
        font-size: 2rem;
    }

    //redes

    .intagram-img {
        width: 2rem;
    }

    .facebook-img {
        width: 5rem;
    }

    figcaption {
        font-size: 2rem;
    }

    .section-redes {
        @include centrado(row);
    }

    //medios de pago

    .img-medios-pago {
        width: 5rem;
        margin: 30px;

    }

    .section-medios-de-pago {
        @include centrado(row);
    }


}



//desktop

@media(min-width:1200px) {

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sub-footer {
        font-size: 2.5rem;
    }

    //nosotros
    .nosotros {
        font-size: 2rem;
    }


    //redes

    .section-redes {
        @include centrado(row);
    }

    figcaption {
        font-size: 2.3rem;
    }

    .intagram-img {
        width: 2.3rem;
    }

    .facebook-img {
        width: 5rem;
    }

    //medios de pago
    .section-medios-de-pago {
        @include centrado(row);
    }

    .img-medios-pago {
        width: 6rem;
        margin-left: 10px;
    }
}