h3 {
    color: $color-primario;
    font-size: 34px;
    font-weight: 600;
    @include tipografia;
}
figcaption {
    font-size: 1.4rem;
}

.sub-footer {
    font-size: 2rem;
}


.medios-pago {
    line-height: 200px;
    .img-medios-pago {
        width: 5rem;
        margin: 15px;
        display: flex;
        display: inline;
        
    }
}



.nosotros {
    color: $color-secundario;
    font-size: 1.4rem;
    @include tipografia;
    @include centrado(row);
}


.redes {
    padding: 20px;
    margin: 10px;
    display: flex;
    display: inline;
    align-items: center;
    .redes-sociales {
        color: $color-primario;
    }

    .intagram-img {
        width: 1rem;
    }

    .facebook-img {
        width: 3rem;
        
    }
    
}


.section-nosotros{
    h3{
        margin-top: 35px;
    }
}


//tablets

@media(min-width:600px) {

    .intagram-img {
        width: 2rem;
    }

    .facebook-img {
        width: 4rem;
    }

    .img-medios-pago {
        width: 5rem;
        margin-left: 8px;
        display: block;
    }

    .sub-footer {
        font-size: 2rem;
    }

    figcaption {
        font-size: 1.7rem;
    }

    .nosotros {
        font-size: 1.7rem;
    }
}



//desktop

@media(min-width:1200px) {

    
    .sub-footer {
        font-size: 3rem;
    }

    figcaption {
        font-size: 2rem;
    }

    .nosotros {
        font-size: 2rem;
    }

    .intagram-img {
        width: 3rem;
    }

    .facebook-img {
        width: 5rem;
    }

    .img-medios-pago {
        width: 6rem;
        margin-left: 8px;
    }
}