//header mobile
h1 {
    @include tipografia;
    color: $color-primario;
    font-size: 4rem;
    padding: 0.2em 0em;
}

h2 {
    @include tipografia;
    color: $color-secundario;
    font-size: 1.5rem;
}

.nav-link {
    color: $color-secundario;
    @include tipografia;
    font-size: 2rem;
}



//Tabletas pequeñas

@media(min-width:600px) {
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 2.3rem;
    }
}


//header desktop
@media(min-width:1200px) {
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 3rem;
    }

    .nav-link {
        color: $color-secundario;
        @include tipografia;
        font-size: 2rem;
        margin-left: 1em;
    }
}