.titulo {
    margin-top: 1.6em;
    font-size: xx-large;
}

.video-como-comprar {
    width: 100%;
    margin-top: 1.6em;
}

.pasos {
    margin: 1em;
    @include tipografia;
}


//tablet
@media(min-width:600px){

    .video-como-comprar {
        width: fit-content;
        @include multimedia-tablets;
    }

    .titulo{
        font-size: 2.5rem;
    }

    .pasos{
        font-size: 1.5rem;
    }
}



//desktop
@media(min-width:1200px){

    .video-como-comprar{
        width: 90%;
    }

    .section-como-comprar{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 2fr 1fr;
        max-width: 90%;
        margin-left: 5%;
    }

    .titulo{
        font-size:4rem;
        @include centrado(row);
        @include tipografia;
    }

    .section-pasos{
        grid-column: span 2;
        @include centrado(row);
    }

    ol{
        li{
            font-size: 1.8rem;
        }
    }
    
    .subtitulo-pasos{
        font-size: 2.6rem;
    }
}