
.producto {
    font-size: x-large;
}

.sub-productos {
    background-color:$color-bg;
}

.img-productos {
    width: 100%;
    margin-top: 1.6em;
}



//tablets

@media (min-width:600px) {
    .img-productos{
        @include multimedia-tablets;
        margin-top:1em;
        width: 90%;
    }
    .sub-productos{
        font-size: 2.7rem;
    }
    .producto{
        font-size: 2rem;
    }
}



//desktop

@media(min-width:1200px){
    .img-productos{
        width: 25vw;
        margin: 1em;
        flex-wrap: nowrap;
        align-content: center;
    }

    .sub-productos{
        font-size: 3.5rem;
    }

    .producto{
        font-size: 3.2rem;
        margin-top: 1em;
    }
}