.titulo-quienes-somos {
    margin-top: 2em;
    @include tipografia;
}

.img-quienes-somos {
    width: 100%;
    margin-top: 1.6em;
}

.caja-parrafo {
    margin: 1em;
    @include tipografia;
}



//tabletas pequeñas
@media(min-width:600px){
    .img-quienes-somos{
        @include multimedia-tablets;
    }
    .caja-parrafo {
        font-size: 1.5rem;
        margin: 5%;
    }

}



//desktop
@media(min-width:1200px) {

    .quienes-somos {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 1fr;
    }


    .titulo-quienes-somos{
        font-size:4rem;
        @include centrado(row);
    }

    .img-quienes-somos{
        @include centrado(row);
        width: 90%;
        margin: 0%;
    }
    .caja-parrafo{
        font-size:  1.6rem;
        grid-column: span 2;
        @include centrado(row);
    }
}